body {
  background-color: lightskyblue;
}
select {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

hr.titleDivider {
  border: 10px solid orange;
  border-radius: 5px;
}

/* div{
    white-space: pre-line;
} */
