body {
  background-color: lightgoldenrodyellow;
}
select {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

hr.titleDivider {
  border: 10px solid #a0d0e0;
  border-radius: 50px;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h1 { 
    font-family: 'Open Sans';
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid rgb(0, 0, 0); 
	width: 31ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 6s steps(31, end),
	           blink-caret .5s step-end infinite alternate;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #a0d0e0;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 40em;
  height: 6em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #000;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
